name: "WordPress version checker"
on:
  push:
    branches:
      - develop
      - main
      - master
  schedule:
    - cron: '0 0 * * *'

permissions:
  contents: read
  issues: write

jobs:
  wordpress-version-checker:
    runs-on: ubuntu-latest
    steps:
      - name: WordPress version checker
        uses: skaut/wordpress-version-checker@v2.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
